.form__container {
	margin: 20px 0;
  display: grid;
  gap: 20px;
}
.form__group {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.perfil__button {
	width: 100%;
	background-color: #000;
	color: #fff;
	padding: 15px;
	border: none;
	border-radius: 8px;
	margin-bottom: 20px;
}
