.button__action {
	padding: 10px 20px;
	display: flex;

	gap: 8px;

	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 5px;
	background-color: #fff;

	border: none;
	outline: none;
}
.button__text {
	font-weight: 500;
}
